{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Profil{% endblock %}

{% block description %}Page profil {{app.user.email}} de Green Guardians{% endblock %}

{% block keywords %}Acceuil, Home, Welcome{% endblock %}

{% block main %}
    
    <div class="container-fluid mt-2">
        
        <div class="container-fluid mt-5">
            {% include "components/_alert.html.twig" %}
        </div>

        <div class="container-fluid d-flex justify-content-center">
            
            <div class="text-center m-3 col-12 p-3">
                <h3 class="text-start mb-5 text-white p-3 bg_green">Informations générales</h3>
                <div class="d-flex justify-content-around">
                    <p class="col-4 fs-6 font-weight-light">
                        Pseudonyme
                    </p>
                    <p class="text-start col-4 fs-5 font-weight-bold">
                        {{ app.user.nickname }}
                    </p>
                    <p class="col-4">
                    </p>
                </div>
                <hr class="mx-auto">
                <div class="d-flex justify-content-around">
                    <p class="col-4 fs-6 font-weight-light">
                        Nom
                    </p>
                    <p class="text-start col-4 fs-5 font-weight-bold">
                        {{ app.user.firstName }} {{ app.user.lastName }}
                    </p>
                    <p class="col-4">
                        <a href="{{path('user_profile_edit')}}">Modifier</a>
                    </p>
                </div>  
                <hr class="mx-auto">
                <div class="d-flex justify-content-around mb-5">
                    <p class="col-4 fs-6 font-weight-light">
                        Date de naissance
                    </p>
                    <p class="text-start col-4 fs-5 font-weight-bold">
                        {{ app.user.birth|format_date()}}
                    </p>
                    <p class="col-4">
                        <a href="{{path('user_profile_edit')}}">Modifier</a>
                    </p>
                </div>  

                <h3 class="text-start mb-5 text-white p-3 bg_green">Coordonnées</h3>

                <div class="d-flex justify-content-around">
                    <p class="col-4 fs-6 font-weight-light">
                        Adresse email
                    </p>
                    <p class="text-start col-4 fs-5 font-weight-bold">
                        {{app.user.email}}
                    </p>
                    <p class="col-4">
                    </p>
                </div>  
                <hr class="mx-auto">  
                <div class="d-flex justify-content-around">
                    <p class="col-4 fs-6 font-weight-light">
                        Numéro de téléphone
                    </p>
                    <p class="text-start col-4 fs-5 font-weight-bold">
                        {% if app.user.phone is null %}
                            Non renseigné
                        {% else %}
                            {{app.user.phone}}
                        {% endif %}
                    </p>
                    <p class="col-4">
                        <a href="{{path('user_profile_edit')}}">Modifier</a>
                    </p>
                </div>  
            </div>

        </div>

        <div class="text-center m-5">
            <a href="{{path('app_forgot_password_request')}}" class="btn btn-primary">Réinitialiser le mot de passe</a>
            <form class="d-inline" action="{{path('user_profile_delete')}}" method="post">
                <input type="hidden" name="_csrf_token" value="{{csrf_token('delete_user_'~app.user.id)}}">
                <input onclick="return confirm('Voulez-vous vraiment supprimer le compte ?')" type="submit" class="btn btn-danger" value="Supprimer votre compte">
            </form>            
        </div>

    </div>
{% endblock %}