{% extends 'themes/base_admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block description %}Liste des utilisateurs de Green Guardians{% endblock %}

{% block keywords %}Admin, Administration, Utilisateurs{% endblock %}

{# jQuery #}
{% block jQuery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{# DataTables -> Pour la pagination #}
{% block dataTables %}

<link href="https://cdn.datatables.net/v/bs5/dt-2.0.7/datatables.min.css" rel="stylesheet">

<script src="https://cdn.datatables.net/v/bs5/dt-2.0.7/datatables.min.js"></script>

<script>
    $(document).ready( function () {
        $('#myTable').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.7/i18n/fr-FR.json',
            },
        });
    });
</script>

{% endblock %}

{% block main %}

    <h2 class="text-center m-5">Liste des utilisateurs</h2>

    {% include "components/_alert.html.twig" %}

    <div class="table-responsive">

        <table id="myTable" class="table table-hover table-bordered table-striped mx-auto text-center">
            <thead class="table-dark">
                <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Email</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Rôles</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Créé le</th>
                        <th scope="col">Modifier le</th>
                        <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.nickname }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                {% if user.isBanned %}
                                    <span>Banni le {{user.bannedAt|format_datetime()}}</span>
                                {% else %}
                                    <span>Bannir ?</span>
                                {% endif %}
                                    <form action="{{path('admin_user_banned', {'id':user.id})}}" method="post">
                                        <div class="form-check form-switch">  
                                            <input type="hidden" name="_csrf_token" value="{{csrf_token('banned_user_'~user.id)}}">
                                            <input onclick="return confirm('Voulez-vous vraiment faire cet action ?')" onchange="this.form.submit()" class="form-check-input" type="checkbox" role="switch" {{ user.isBanned ? "checked" : null }} >
                                        </div>
                                    </form> 
                            </div>
                        </td>
                        <td>
                            {% for role in user.roles %}
                                <span class="badge text-bg-success">{{role}}</span> 
                            {% endfor %}
                        </td>
                        <td>
                            {{ user.firstName }}
                        </td>
                        <td>
                            {{ user.lastName }}
                        </td>
                        <td>{{user.createdAt|format_datetime()}}</td>
                        <td>{{user.updatedAt|format_datetime()}}</td>
                        <td>
                            {% if user.roles[0] != "ROLE_SUPER_ADMIN" %}
                                <form class="d-inline" action="{{path('admin_user_modo', {'id':user.id} )}}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{csrf_token('modo_user_'~user.id)}}">
                                    {% if user.roles[0] == "ROLE_MODERATOR" %}
                                        <input onclick="return confirm('Voulez-vous vraiment que cet utilisateur redevienne un utilisateur ordinaire ?')" type="submit" class="btn btn-sm btn-warning" value="Modérateur">
                                    {% else %}
                                        <input onclick="return confirm('Voulez-vous vraiment que cet utilisateur soit modérateur ?')" type="submit" class="btn btn-sm btn-primary" value="Modérateur">
                                    {% endif %}
                                </form>
                                <form class="d-inline" action="{{path('admin_user_delete', {'id':user.id} )}}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{csrf_token('delete_user_'~user.id)}}">
                                    <input onclick="return confirm('Voulez-vous vraiment supprimer l\'utilisateur' ?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
                                </form>
                            {% endif %}
                        </td>
                    </tr> 
                {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %} 