{% set themes = 'themes/base_visitor.html.twig' %}

{% extends themes %}

{% block title %}Page project{% endblock %}

{% block description %}Page projet de Green Guardians{% endblock %}

{% block keywords %}Détail, Show, Projet{% endblock %}

{% block fontAwesome %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block quill %}

<style>

.modal-dialog  {
    max-width: 80%;
}

.ql-align-center {
    text-align:center
}

.ql-align-right {
    text-align:right
}

.ql-align-left {
    text-align:left
}

.ql-align-justify {
    text-align:justify
}

</style>

<!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">

<script>
    const quill = new Quill('#editor');
</script>
{% endblock %}

{% block main %}
    {{ knp_pagination_rel_links(comments) }}

    <div class="container">

        {% if project[0].image %}
            <div class="text-center mt-5 mb-3" style="height: 400px">
                <img class="img-fluid h-100 shadow" src="{{ vich_uploader_asset(project[0], 'imageFile') }}" alt="{{ project[0].title }}">
            </div>
        {% else %}
            <div class="text-center mt-5 mb-3">
                <img width="200" height="200" src="{{ asset('img/no-image.png') }}" alt=" Projet {{ project[0].title }} image par défaut">
            </div>
        {% endif %}


        <div class="rows mb-5 text-center">
            {% if project[0].tags is empty %}
            {% else %}
            {% for tag in project[0].tags %}
                <span class="badge text-bg-success">{{tag.name}} </span> 
            {% endfor %}
            {% endif %}
        </div>     
        
        {% include "components/_alert.html.twig" %}

            <div class="text-center mt-5 mb-3 d-flex justify-content-center">
                {% if project[0].endDate|date('Y-m-d') != null and project[0].endDate|date('Y-m-d') < "now"|date('Y-m-d') %}
                {% else %}
                    <form class="d-inline m-1" action="{{path('user_project_join', {'id':project[0].id})}}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{csrf_token('join_project_'~project[0].id)}}">                    

                        {% if app.user is null %}
                            <input onclick="return alert('Vous devez être connecté pour participer à un projet')" class="btn btn-success" type="button" value="Participer au projet">
                        {% else %}

                            {% if app.user.email == project[0].user.email %}
                            {% elseif userParticipates|length > 0 %}
                                <input onclick="this.form.submit()" class="btn btn-secondary" type="button" value="Retirer la participation">
                            {% else %}
                                <input onclick="this.form.submit()" class="btn btn-success" type="button" value="Participer au projet">
                            {% endif %}

                        {% endif %}
                    </form>
                {% endif %}

                {% if app.user is null %}

                <a class="btn btn-danger m-1" onclick="return alert('Vous devez être connecté pour signaler un projet')" href="#">Signaler le projet</a>

                {% else %}
                    {% if app.user.email == project[0].user.email %}
                    {% else %}
                        <a class="btn btn-danger m-1" href="{{path('user_reporting_project_create', {'id':project[0].id})}}">Signaler le projet</a>
                    {% endif %}
                {% endif %}
            </div> 

        <div class="accordion mb-5 shadow" id="accordionPanelsStayOpenExample">

            <div class="accordion-item">
                <h2 class="accordion-header shadow">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="true" aria-controls="panelsStayOpen-collapse1">
                    Détail du projet
                </button>
                </h2>
                <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse show">
                    <div class="accordion-body" id="editor">
                        {{project[0].content|raw}}
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header shadow">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse2" aria-expanded="false" aria-controls="panelsStayOpen-collapse2">
                    Information sur le projet
                </button>
                </h2>
                <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {% if project[0].startDate|date('Y-m-d') > "now"|date('Y-m-d') %}
                            <p><strong>Projet à venir :</strong> {{project[0].startDate|format_date()}}</p>
                        {% elseif project[0].endDate|date('Y-m-d') < "now"|date('Y-m-d') %}
                            <p><strong>Le projet est terminé</strong></p>
                        {% else %}
                            <p><strong>Le projet a commencé :</strong> {{project[0].startDate|format_date()}} {{ project[0].endDate ? " - "~project[0].endDate|format_date() : ""}}</p>
                        {% endif %}
                        <p><strong>Adresse email de contact :</strong> {{project[0].email}}</p>
                        <p><strong>Numéro de téléphone de contact :</strong> {{project[0].phone}}</p>
                        <p><strong>Adresse :</strong> {{project[0].address}}</p>
                        {% if project[0].availableSpace %}
                            <p><strong>Place :</strong> {{project[0].projectUsers|length}}/{{project[0].availableSpace}}</p>
                        {% endif %}
                        <p><strong>Date de création :</strong> {{project[0].createdAt|format_date()}}</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header shadow">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse3" aria-expanded="false" aria-controls="panelsStayOpen-collapse3">
                    Liste des participants ({{project[0].projectUsers|length}})
                </button>
                </h2>
                <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse">
                    <div class="accordion-body d-flex">

                    {% if project[0].projectUsers|length > 0 %}
                        {% for projectUser in project[0].projectUsers %}
                            <h5><span class="badge text-bg-success m-1">{{projectUser.user.nickname}}</span></h5>
                        {% endfor %}
                    {% else %}
                        <p>Personne ne participe à ce projet pour le moment.</p>
                    {% endif %}

                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header shadow">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="true" aria-controls="panelsStayOpen-collapse4">
                    Commentaires ({{comments|length}})
                </button>
                </h2>
                <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse show">
                    <div class="accordion-body">


                        {% if app.user %}
                            
                        <div class="container">
                                {{ form_start(form) }}
                                    <div class="mb-4">
                                        <label for="">Commentaire<strong class="text-danger">*</strong></label>
                                        <div class="text-danger">{{ form_errors(form.content) }}</div>
                                        {{ form_widget(form.content, {"attr": {"class":"form-control"}}) }}
                                    </div>
                                    <div class="mb-3 text-center">
                                        <button formnovalidate type="submit" class="btn btn-success w-75 shadow">Ajouter un commentaire</button>
                                    </div>
                                {{ form_end(form) }}
                            <hr class="mx-auto">
                        </div>
                        {% else %}

                        <p class="text-center mt-3">Vous devez être connecté pour ajouter un commentaire.</p>
                            <hr class="mx-auto">

                        {% endif %}

                        <div class="container-fluid">
                            {% if comments|length == 0 %}
                                <p class="text-center">Pas encore de commentaire.</p>
                            {% endif %}
                            {% for comment in comments %}
                                <div class="m-3">
                                    <div class="d-flex justify-content-between flex-wrap">
                                        <div>{{comment.user.nickname}}</div>
                                        {% if comment.user == app.user %}
                                            <div>
                                                <a href="{{path('user_comment_edit', {'id':comment.id,'id_project':comment.project.id} )}}"><i class="fa-solid fa-pen-to-square fa-lg" ></i></a>
                                                <form class="d-inline" action="{{path('user_comment_delete', {'id':comment.id,'id_project':comment.project.id})}}" method="post">
                                                    <input type="hidden" name="_csrf_token" value="{{csrf_token('delete_comment_'~comment.id)}}">
                                                    <button class="border-0 bg-transparent" onclick="return confirm('Voulez-vous vraiment supprimer le commentaire ?')" type="submit"><i class="color-danger fa-solid fa-trash fa-lg m-1" style="color: #df0707;"></i></button>
                                                </form>                            
                                            </div>
                                        {% else %}
                                        <a href="{{path('user_reporting_comment_create', {'id':comment.id})}}">
                                            <i class="fa-solid fa-flag fa-lg mt-2" style="color: #d52020;"></i>
                                        </a>

                                        {% endif %}  




                                    </div>
                                    <div class="border border-2 rounded-3 p-3 ">
                                        {{comment.content}}
                                    </div>
                                    <div class="text-end">
                                        <p>
                                        Le {{comment.createdAt|format_datetime()}}
                                        {{ comment.updatedAt|format_datetime() > comment.createdAt|format_datetime() ? "Modifier le "~comment.updatedAt|format_datetime() : "" }}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}

                            {# display navigation #}
                            <div class="navigation d-flex justify-content-center mt-5">
                                {{ knp_pagination_render(comments) }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}