{% set themes = 'themes/base_visitor.html.twig' %}

{% extends themes %}

{% block title %}Page project{% endblock %}

{% block description %}Page projet de Green Guardians{% endblock %}

{% block keywords %}Détail, Show, Projet{% endblock %}

{% block quill %}

<style>

.modal-dialog  {
    max-width: 80%;
}

.ql-align-center {
    text-align:center
}

.ql-align-right {
    text-align:right
}

.ql-align-left {
    text-align:left
}

.ql-align-justify {
    text-align:justify
}

</style>

<!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">

<script>
    const quill = new Quill('#editor');
</script>
{% endblock %}

{% block main %}

    <div class="container">

        {% if project[0].image %}
            <div class="text-center mt-5 mb-3" style="height: 400px">
                <img class="img-fluid h-100 shadow" src="{{ vich_uploader_asset(project[0], 'imageFile') }}" alt="{{ project[0].title }}">
            </div>
        {% else %}
            <div class="text-center mt-5 mb-3">
                <img width="200" height="200" src="{{ asset('img/no-image.png') }}" alt="{{ project[0].title }}">
            </div>
        {% endif %}


        <div class="rows mb-5 text-center">
            {% if project[0].tags is empty %}
            {% else %}
            {% for tag in project[0].tags %}
                <span class="badge text-bg-success">{{tag.name}} </span> 
            {% endfor %}
            {% endif %}
        </div>     
        
        {% include "components/_alert.html.twig" %}

            <div class="text-center mt-5 mb-3 d-flex justify-content-center">
                {% if project[0].endDate|date('Y-m-d') != null and project[0].endDate|date('Y-m-d') < "now"|date('Y-m-d') %}
                {% else %}
                    <form class="d-inline m-1" action="{{path('user_project_join', {'id':project[0].id})}}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{csrf_token('join_project_'~project[0].id)}}">                    

                        {% if app.user is null %}
                            <input onclick="return alert('Vous devez être connecté pour participer à un projet')" class="btn btn-success" type="button" value="Participer au projet">
                        {% else %}

                            {% if app.user.email == project[0].user.email %}
                            {% elseif userParticipates|length > 0 %}
                                <input onclick="this.form.submit()" class="btn btn-secondary" type="button" value="Retirer la participation">
                            {% else %}
                                <input onclick="this.form.submit()" class="btn btn-success" type="button" value="Participer au projet">
                            {% endif %}

                        {% endif %}
                    </form>
                {% endif %}

                {% if app.user is null %}

                <a class="btn btn-danger m-1" onclick="return alert('Vous devez être connecté pour signaler un projet')" href="#">Signaler le projet</a>

                {% else %}
                    {% if app.user.email == project[0].user.email %}
                    {% else %}
                        <a class="btn btn-danger m-1" href="#">Signaler le projet</a>
                    {% endif %}
                {% endif %}
            </div> 

        <div class="accordion mb-5 " id="accordionPanelsStayOpenExample">

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="true" aria-controls="panelsStayOpen-collapse1">
                    Détail du projet
                </button>
                </h2>
                <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse show">
                    <div class="accordion-body" id="editor">
                        {{project[0].content|raw}}
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse2" aria-expanded="false" aria-controls="panelsStayOpen-collapse2">
                    Information sur le projet
                </button>
                </h2>
                <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {% if project[0].startDate|date('Y-m-d') > "now"|date('Y-m-d') %}
                            <p><strong>Projet à venir :</strong> {{project[0].startDate|format_date()}}</p>
                        {% elseif project[0].endDate|date('Y-m-d') < "now"|date('Y-m-d') %}
                            <p><strong>Le projet est terminé</strong></p>
                        {% else %}
                            <p><strong>Le projet a commencé :</strong> {{project[0].startDate|format_date()}} {{ project[0].endDate ? " - "~project[0].endDate|format_date() : ""}}</p>
                        {% endif %}
                        <p><strong>Adresse email de contact :</strong> {{project[0].email}}</p>
                        <p><strong>Numéro de téléphone de contact :</strong> {{project[0].phone}}</p>
                        <p><strong>Adresse :</strong> {{project[0].address}}</p>
                        {% if project[0].availableSpace %}
                            <p><strong>Place :</strong> {{project[0].projectUsers|length}}/{{project[0].availableSpace}}</p>
                        {% endif %}
                        <p><strong>Date de création :</strong> {{project[0].createdAt|format_date()}}</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse3" aria-expanded="false" aria-controls="panelsStayOpen-collapse3">
                    Liste des participants ({{project[0].projectUsers|length}})
                </button>
                </h2>
                <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse">
                    <div class="accordion-body d-flex">

                    {% if project[0].projectUsers|length > 0 %}
                        {% for projectUser in project[0].projectUsers %}
                            <h5><span class="badge text-bg-success m-1">{{projectUser.user.firstName}} {{projectUser.user.lastName}}</span></h5>
                        {% endfor %}
                    {% else %}
                        <p>Pas de participants pour le moment.</p>
                    {% endif %}

                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="false" aria-controls="panelsStayOpen-collapse4">
                    Commentaires
                </button>
                </h2>
                <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <strong>Bientôt</strong>
                </div>
            </div>

        </div>

    </div>
{% endblock %}