{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Modification d'un projet{% endblock %}

{% block description %}Modification d'un projet sur Green Guardians{% endblock %}

{% block keywords %}Modification, Projet, Edition{% endblock %}

{% block jQuery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block select2 %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function() {
            $('#user_project_form_tags').select2();
        });
    </script>
{% endblock %}

{% block quill %}
    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">

    <!-- Initialize Quill editor -->
    <!-- Initialize Quill editor -->
    <script>

        document.addEventListener("DOMContentLoaded", function() {
                
            const toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['link'],

            [{ 'header': 1 }, { 'header': 2 }],               // custom button values
            [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],

            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'align': [] }],

            ['clean']                                         // remove formatting button
            ];

            const quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
            });

            // Synchroniser le contenu de Quill avec le champ de formulaire caché
            const hiddenInput = document.querySelector('#content');
            quill.on('text-change', function() {
                hiddenInput.value = quill.root.innerHTML;
            });

            // Initialiser le contenu de Quill avec la valeur existante du formulaire
            hiddenInput.value = hiddenInput.value.trim() !== '' ? hiddenInput.value : null;
            quill.root.innerHTML = hiddenInput.value;

        });

    </script>
{% endblock %}

{% block main %}
    <div class="p-5">

        <h2 class="text-center mb-5">Modification d'un projet</h2>

        {% include "components/_alert.html.twig" %}

        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    {{ form_start(form) }}

                    <div class="mb-4">
                        <label for="user_project_form_title">Titre<strong class="text-danger">*</strong></label>
                        <div class="text-danger">{{ form_errors(form.title) }}</div>
                        {{ form_widget(form.title, {"attr": {"class":"form-control", "autofocus":"autofocus"}}) }}
                    </div>
                    
                    <div class="mb-3">
                        <label for="user_project_form_category">Catégorie<strong class="text-danger">*</strong></label>
                        <div class="text-danger">{{ form_errors(form.category) }}</div>
                        {{ form_widget(form.category, {"attr": {"class":"form-control"}}) }}
                    </div>

                    <div class="mb-3">
                        <label for="user_project_form_tags">Tags</label>
                        <div class="text-danger">{{ form_errors(form.tags) }}</div>
                        {{ form_widget(form.tags, {"attr": {"class":"form-control"}}) }}
                    </div>

                    <div class="mb-4 row">

                        <div class="col-md-6 text-center">
                            {% if project.image %}
                                <img width="200" height="200" src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="{{ project.title }}">
                            {% else %}
                                <img width="200" height="200" src="{{ asset('img/no-image.png') }}" alt="{{ project.title }}">
                            {% endif %}
                        </div>
                        <div class="col-md-6 d-flex flex-column justify-content-center">
                            <label for="admin_post_form_imageFile_image">Image</label>
                            <div class="text-danger">{{ form_errors(form.imageFile) }}</div>
                            {{ form_widget(form.imageFile, {"attr": {"class":"form-control mb-3"}}) }}
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="user_project_form_email">Email de contact<strong class="text-danger">*</strong></label>
                        <div class="text-danger">{{ form_errors(form.email) }}</div>
                        {{ form_widget(form.email, {"attr": {"class":"form-control"}}) }}
                    </div>

                    <div class="mb-3">
                        <label for="user_project_form_phone">Téléphone de contact</label>
                        <div class="text-danger">{{ form_errors(form.phone) }}</div>
                        {{ form_widget(form.phone, {"attr": {"class":"form-control"}}) }}
                    </div>
                    
                    <div class="mb-3">
                        <label for="user_project_form_available_space">Nombre de participants maximum</label>
                        <div class="text-danger">{{ form_errors(form.availableSpace) }}</div>
                        {{ form_widget(form.availableSpace, {"attr": {"class":"form-control"}}) }}
                    </div>

                    <div class="mb-3">
                        <label for="user_project_form_description">Courte description<strong class="text-danger">*</strong></label>
                        <div class="text-danger">{{ form_errors(form.description) }}</div>
                        {{ form_widget(form.description, {"attr": {"class":"form-control"}}) }}
                    </div>                    

                    <div class="text-danger">{{ form_errors(form.content) }}</div>
                    <div id="editor" class="form-control" style="height: 300px;">
                    </div>
                    
                    {{ form_widget(form.content, {"id":"content", "attr": {"class": "d-none"}}) }}

                    <hr class="mb-5">

                    <div class="mb-3">
                        <label for="user_project_form_street">Rue</label>
                        <div class="text-danger">{{ form_errors(form.street) }}</div>
                        {{ form_widget(form.street, {"attr": {"class":"form-control"}}) }}
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="user_project_form_city">Ville<strong class="text-danger">*</strong></label>
                            <div class="text-danger">{{ form_errors(form.city) }}</div>
                            {{ form_widget(form.city, {"attr": {"class":"form-control"}}) }}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="user_project_form_code">Code postale<strong class="text-danger">*</strong></label>
                            <div class="text-danger">{{ form_errors(form.code) }}</div>
                            {{ form_widget(form.code, {"attr": {"class":"form-control"}}) }}
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="mb-3 col-md-6">
                            <label for="user_project_form_startDate">Date de début<strong class="text-danger">*</strong></label>
                            <div class="text-danger">{{ form_errors(form.startDate) }}</div>
                            {{ form_widget(form.startDate, {"attr": {"class":"form-control"}}) }}
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="user_project_form_endDate">Date de fin</label>
                            <div class="text-danger">{{ form_errors(form.endDate) }}</div>
                            {{ form_widget(form.endDate, {"attr": {"class":"form-control"}}) }}
                        </div>
                    </div>

                    <div class="mb-5">
                        <input formnovalidate class="btn btn-primary shadow w-100" type="submit" value="Modifier le projet">
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        
    </div>

{% endblock %}