{% extends 'themes/base_admin.html.twig' %}

{% block title %}Modification d'une catégorie{% endblock %}

{% block description %}Modification d'une catégorie de Green Guardians{% endblock %}

{% block keywords %}Admin, Administration, Catégories{% endblock %}

{% block main %}

    <h2 class="text-center m-5">Modification d'une catégorie</h2>
    <div class="container">

        {{ form_start(formCategory) }}

            <div class="mb-3">
                <label for="">Nom de catégorie<strong class="text-danger">*</strong></label>
                <div class="text-danger">{{ form_errors(formCategory.name) }}</div>
                {{ form_widget(formCategory.name, {"attr": {"class":"form-control", "autofocus":"autofocus"}})}}
            </div>

            <div class="mb-4 row">

                <div class="col-md-6 text-center">
                    {% if category.image %}
                        <img width="30" height="40" src="{{ vich_uploader_asset(category, 'imageFile') }}" alt="{{ category.name }}">
                    {% else %}
                        <img width="30" height="40" src="{{ asset('img/no-image.png') }}" alt="{{ category.name }}">
                    {% endif %}
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <label for="admin_category_form_imageFile_image">Image de marqueur</label>
                    <div class="text-danger">{{ form_errors(formCategory.imageFile) }}</div>
                    {{ form_widget(formCategory.imageFile, {"attr": {"class":"form-control mb-3"}}) }}
                </div>

            </div>     
            
            <div class="mb-4 row">

                <div class="col-md-6 text-center">
                    {% if category.imageStat %}
                        <img width="150" height="150" src="{{ vich_uploader_asset(category, 'imageFile2') }}" alt="{{ category.name }}">
                    {% else %}
                        <img width="150" height="150" src="{{ asset('img/no-image.png') }}" alt="{{ category.name }}">
                    {% endif %}
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <label for="admin_category_form_imageFile2_image">Image de statistique</label>
                    <div class="text-danger">{{ form_errors(formCategory.imageFile2) }}</div>
                    {{ form_widget(formCategory.imageFile2, {"attr": {"class":"form-control mb-3"}}) }}
                </div>

            </div>       

            <div class="mb-3">
                <label for="">Description</label>
                <div class="text-danger">{{ form_errors(formCategory.description) }}</div>
                {{ form_widget(formCategory.description, {"attr": {"class":"form-control"}})}}
            </div>

            <div class="mb-3">
                <input formnovalidate type="submit" class="btn btn-success shadow w-100" value="Modifier la catégorie">
            </div> 

        {{ form_end(formCategory) }}

    </div>


{% endblock %} 